<style>
h1,h2,h3 { 
    display: block;
    margin-top: 0em;
    margin-bottom: -1.00em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
</style>
<section>
	<h1>Benjamin Horowitz</h1>
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-5 pull-left">
            <img class="head" src="/media/images/biopics/ben.jpeg" width="100%">
        </div>
<!--        <div class="col-sm-4">
            <p class="text-left name" style="margin-bottom:0px;"><h1>Benjamin Horowitz</h1></p>
        </div>-->
        <div class="col-sm-7">
        	<div class="col-sm-4 pull-left">
        		<img class="head" src="/media/images/icons/id.png" width="100px">
        	</div>
            <p class="text-left" style="margin-bottom:15px;"><h4>Title:</h4></p>
            <p class="text-left" style="margin-top:-40px;">Executive Director</p>
        </div>

        <div class="col-sm-7">
        	<div class="col-sm-4 pull-left">
        		<img class="head" src="/media/images/icons/ed.png" width="100px">
        	</div>
        	<p class="text-left" style="margin-bottom:5px;"><h4>Educaton:</h4></p>
        	<p class="text-left" style="margin-top:-40px;">Yale University</p>
        	<p class="text-left" style="margin-top:-40px;">UC Berkeley</p>
        </div>

        <div class="col-sm-7">
        	<div class="col-sm-4 pull-left">
        		<img class="head" src="/media/images/icons/globe.png" width="100px">
        	</div>
            <p class="text-left" style="margin-bottom:15px;"><h4>Location:</h4></p>
            <p class="text-left" style="margin-top:-40px;">El Cerrito, CA</p>
        </div>

    </div>
</div>
</br>

<p>Ben was one of the founding members of Yale Splash in 2010 and has lead that organization through most of it's growth and expansion. Now a physics graduate student at UC Berkeley supported by a National Science Foundation Fellowship, he was originally inspired to get involved in math and science through attending MIT's Splash and Spark programs. In addition to his work managing the operations of Learning Unlimited and mentoring new programs, he has taught courses at numerous college's programs on topics ranging from Physics of Black Holes to Linear Algebra.</p>
<h3>Connect</h3>
<p><a href="mailto:bhorowitz@learningu.org">bhorowitz@learningu.org</a></p>
</section>
