<section>
	<CENTER>
<img src="/media/images/biopics/ben.jpeg" alt="Ben" width="300px" class="center"/>
<h1> Benjamin Horowitz </h1>
<h3> Executive Director</h3>
</CENTER>
<p>Ben was one of the founding members of Yale Splash in 2010 and has lead that organization through most of it's growth and expansion. Now a physics graduate student at UC Berkeley supported by a National Science Foundation Fellowship, he was originally inspired to get involved in math and science through attending MIT's Splash and Spark programs. In addition to his work managing the operations of Learning Unlimited and mentoring new programs, he has taught courses at numerous college's programs on topics ranging from Physics of Black Holes to Linear Algebra.</p>

<p><a href="mailto:bhorowitz@learningu.org">bhorowitz@learningu.org</a></p>
</section>
