<section>
	<h1>Eva Farkas</h1>
<div class="row">
    <div class="col-sm-12">
       <div class="col-sm-5 pull-left">
            <img class="head" src="/media/images/biopics/eva.jpg" width="100%">
        </div>
<!--        <div class="col-sm-4">
            <p class="text-left name" style="margin-bottom:0px;"><h1>Benjamin Horowitz</h1></p>
        </div>-->
        <div class="col-sm-7">
        	<div class="col-sm-4 pull-left">
        		<img class="head" src="/media/images/icons/id.png" width="100px">
        	</div>
            <p class="text-left" style="margin-bottom:15px;"><h4>Title:</h4></p>
            <p class="text-left" style="margin-top:-40px;">Codirector of Program Mentoring</p>

        </div>

        <div class="col-sm-7">
        	<div class="col-sm-4 pull-left">
        		<img class="head" src="/media/images/icons/ed.png" width="100px">
        	</div>
        	<p class="text-left" style="margin-bottom:5px;"><h4>Educaton:</h4></p>
        	<p class="text-left" style="margin-top:-40px;">Columbia University</p>
        </div>

        <div class="col-sm-7">
        	<div class="col-sm-4 pull-left">
        		<img class="head" src="/media/images/icons/globe.png" width="100px">
        	</div>
            <p class="text-left" style="margin-bottom:15px;"><h4>Location:</h4></p>
            <p class="text-left" style="margin-top:-40px;">New York</p>
        </div>

    </div>
</div>
</br>

<p></p>
<h3>Connect</h3>
<p><a href="mailto:eva@learningu.org">eva@learningu.org</a></p>
</section>
