<section>
	<h1>Miles Calabresi</h1>
<div class="row">
    <div class="col-sm-12">
       <div class="col-sm-5 pull-left">
            <img class="head" src="/media/images/biopics/miles_bw.jpg" width="100%">
        </div>
<!--        <div class="col-sm-4">
            <p class="text-left name" style="margin-bottom:0px;"><h1>Benjamin Horowitz</h1></p>
        </div>-->
        <div class="col-sm-7">
        	<div class="col-sm-4 pull-left">
        		<img class="head" src="/media/images/icons/id.png" width="100px">
        	</div>
            <p class="text-left" style="margin-bottom:15px;"><h4>Title:</h4></p>
            <p class="text-left" style="margin-top:-40px;">Director of Chapter Services</p>
            <p class="text-left" style="margin-top:-40px;">Chapter Board Chair</p>

        </div>

        <div class="col-sm-7">
        	<div class="col-sm-4 pull-left">
        		<img class="head" src="/media/images/icons/ed.png" width="100px">
        	</div>
        	<p class="text-left" style="margin-bottom:5px;"><h4>Educaton:</h4></p>
        	<p class="text-left" style="margin-top:-40px;">Yale University</p>
        </div>

        <div class="col-sm-7">
        	<div class="col-sm-4 pull-left">
        		<img class="head" src="/media/images/icons/globe.png" width="100px">
        	</div>
            <p class="text-left" style="margin-bottom:15px;"><h4>Location:</h4></p>
            <p class="text-left" style="margin-top:-40px;">Maryland</p>
        </div>

    </div>
</div>
</br>

<p>Miles graduated from Yale in 2015 with a degree in Linguistics and Mathematics. He was involved with the Splash at Yale program since 2012, both as program director and organizational president. He is currently a math Ph.D. student at The Ohio State University. He has been active in LU, mentoring programs and creating resources to help improve the impact of our programs, as well as serving as Chair of the Chapter Board. As Director of Chapter Services, his current projects include getting to know chapter leadership better, creating and improving documentation archives, and streamlining communication between LU and its chapters, all with the goal of making accessible information and services that are both sustainable and useful to chapters of all ages, sizes, and philosophies.</p>
<h3>Connect</h3>
<p><a href="mailto:miles@learningu.org">miles@learningu.org</a></p>
</section>
