<section>
	<CENTER>
<h1> Ted Hwa </h1>
<h3> Chief Financial Officer</h3>
</CENTER>
<p>Ted Hwa has been volunteering in Splash programs since 1996, during his days as a student at Stanford. He continues to be involved with the Stanford chapter of Learning Unlimited, assisting them with website issues. His background is in mathematics and computer science, and in his day job, he works in the field of internet security.</p>

<p><a href="mailto:ted@learningu.org">ted@learningu.org</a></p>
</section>
